
.PhotoCollection{
height: 150px ;
width: 150px ;
}

.carousel-item{
    /* display:flex; */
    /* flex-direction:row; */
    /* height:100%; */
}

.imgCarousel{
    /* margin-left:33% */
    /* height: 300% ; */
    /* width: 30%; */
    /* align-items:center;
    justify-content:center !important; */
    /* height:auto;
    border:20px solid red; */
}
#carouselH3{
    /* color:white;
    text-decoration:none; */
}

/* #photoCollectionCarousel{
    height:100%;
    border:20px solid red;
} */

/* #photoCollectionModalBody{
    height:50% !important;
    border:20px solid red;
} */
