
#outer_footer{
  position:sticky;
  bottom:0;
  
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* border-style:solid;
  border-width:2px; */
  padding:2px 2px 0px 2px;
color:black;
/* added opacity to background-color style */
background-color:rgb(251, 251, 253);
}

.footerRow {
  margin-right:0px;
}
#footer_link {
  position:right;
}
#footer_text{
  text-align:right;
}

#texting, #image{
/* color:black; */
  /*text-align:center; */
  /* background-color:rgb(130, 132, 175);*/
  /* background: linear-gradient(45deg,black,indigo, #053ea8, #7a00ff);  */
  /* background: linear-gradient(90deg,rgb(62, 66, 145, 1),rgb(130, 132, 175),rgb(130, 132, 175));
  background-clip:border-box;*/
} 

