/* .bod{
    background-image: url("../img/bgimage.jpg");
   
      background-image:repeat;
} */

#contact_links img{
    max-height: 40px;
    max-width: 40px;
  
  }
  .bod{
    /* display: flex;
    justify-content: center; */
  
  }
  main{
    /* align-self: center;
    align-items: center; */
    /* margin: 0 auto ; */
   /* left:50%; */
    text-decoration:none;
    border: none;

  }
h1{
  text-align: center;
}
.resume_image{
  filter: blur(4px);
}
#resume_outer{
  height: 50vh;
  width: 100vh;
  border: 10px solid black;
}
#resume_imageBorder{
  /* border: 1px solid; */
  /* background-image: url("../img/resume_image.png") no-repeat center; */
  background: url("../img/resume_image.png") no-repeat center;
  filter: blur(4px);
  height: 100%;
  width: 100%;
  background-size:100%;
}
  @media screen and (max-width:768px) {
    main{padding-top:5rem!important;
        }
    h1{
    font-size: 10vw;
        }
    } 